package pages

templ Document() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Go Chat</title>
			<script src="/public/htmx.min.js"></script>
			<script src="/public/htmx-ws.min.js"></script>
		</head>
		<body hx-ext="ws" ws-connect="/ws">
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
