package pages

import "github.com/nichtsam/go-chat/services/chat"
import "fmt"

templ Home(rooms []chat.Room) {
	@Document() {
		<h1>Go Chat</h1>
		<div>
			<h2>
				Join a chat
			</h2>
			<ul>
				for _, room:= range rooms {
					<li>
						<a href={ templ.URL(fmt.Sprintf("/chat/%s", room.Id)) }>
							{ room.Name }
						</a>
					</li>
				}
			</ul>
		</div>
	}
}
